.book__container {
  width: 16rem;
}
.book__image {
  width: 100%;
  height: 22rem;
}
.book__title {
  font-size: 1.5rem;

}
.book__authors,
.book__year {
  font-size: 1.2rem;
}
.book__replacement_img{
  width: 16rem;
  height: 22rem;
  background-color: blanchedalmond;
}
