.book__container {
  width: 16rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
}
.book__image {
  width: 100%;
  height: 22rem;
}
.book__title {
  font-size: 1.5rem;
  min-height: 4rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  margin-bottom: 0.2rem;

}
.book__authors,
.book__year {
  font-size: 1.2rem;
}
.book__replacement_img{
  width: 16rem;
  height: 22rem;
  background-color: blanchedalmond;
}
